DOMAIN=web.local
PORT=8081
PHPMYADMIN_PORT=8082

# Database Configuration for Docker Compose
DATABASENAME=databasename
DATABASEUSER=databaseuser
DATABASEPASS=databasepass
MYSQL_ROOT_PASSWORD=r00tP@ssw0rd

